@font-face {
    font-family: font123;
    src: url("../fonts/ufonts.com_tw-cen-mt.ttf");
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-family: font123;
    font-size: 1.6rem;
    }
    
    


h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}


/*============MENU HAMBURGER=============*/

#resturant{
    padding-right: 8rem;
}
.top-nav {/*da modificare x tablet e desktop margin top e rivedere dove inizia la tendina*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.281);
    color: #FFF;
    height: 64px;
    padding: 2rem;
    box-sizing: border-box;
    position: fixed;
    background: rgba(255, 255, 255, 0.89);
    

}

.top-nav>div {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: tomato;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menuref {
    color: black;
    text-decoration: none;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(97, 97, 97, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/*===========================HEADER==============================*/


#bgheader {
    background-image: url(../images/header.jpg);
    height: 25%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


}

/*===========================SLIDE-SHOW==============================*/

#featured{
    display: flex;
}

#testo{
    font-weight: bold;
    margin-top: 20% ;
    margin-bottom: 3rem ;
}

#testo>span{
    color: tomato;
}


.slideshow-container {
    margin: 0;
    position: relative;
    top: 0rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  
  /* Hide the images by default */
  .mySlides {
    display: none;
    

  }
  
  /* BOTTONE PER SCORRERE */
  .next {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 3rem;
    width: auto;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.8 rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-radius: 3px 0 0 3px;
    padding: 2rem;
  }
  
 
  
  /* On hover, OSCURA  */
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* PUNTI */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 1rem;
  }
  
  .active, .dot:hover {
    background-color: tomato;
  }
  
  /* ANIMAZIONE */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*==============================BLOG===============================*/

#About_Us{
    padding: 50px;
    text-align: center;
    background-color: rgb(158, 114, 148, 0.2);
}
#About_Us h2{
    font-size:3rem;
}
#Blog{
    background-image: url("../images/blog/blog-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.immagine-testo{
    background-color: white;
}


/*==============================MENU PRICING===============================*/

#menu-price{
    padding: 70px 0px;
}

span {
    color: tomato;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

#menu-price h1, .description{
    text-align: center;
    padding: 40px 0px;
}

.description, .pricing p{
    color: #9D9D9D;
}

.description{
    line-height: 2.5rem;
}

.pricing p{
    font-size: 90%;
    line-height: 2.2rem;
}

.pricing{
    padding: 60px 0px 0px;
}

.title{
    padding: 30px 0px;
}

.dish-title h2{
    padding: 0px 0px 10px;
}

.dish strong{
    color: #938463;
}

.dish p{
    padding: 10px 0px 0px;
}

.pricing li{
    padding: 20px 0px;
    list-style: none;
}

.pricing ul{
    padding: 0px 0px 70px;
}

.more-info{
    color: tomato;
    border: 1px solid tomato;
    background-color: white;
    padding: 28px 100px;
    text-decoration: none;
}

.more-info:hover{
    color: rgb(255, 255, 255);
    background-color: tomato;
    transition: 0.3s all;
}




/*==============================NEWS LETTER===============================*/

#newsletter{
    background-image: url("../images/subscribe-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
}

#newsletter h1{
    padding: 40px 0px;
}

#newsletter p{
    padding: 20px 0px;
    font-size: 110%;
}

#newsletter h1, #newsletter p{
    text-align: center;
    color: white;
}

::-webkit-input-placeholder{
    font-family: font123;
    src: url("../fonts/ufonts.com_tw-cen-mt.ttf");
    font-size: 120%;
    color: #bbb;
}

.compila-form{
    width: 100%;
    padding: 28px 10px;
    border: 1px solid #bbb;
    margin-bottom: 2.5rem;
}

.button-subscribe{
    width: 70%;
    padding: 28px 10px;
    background-color: rgb(119, 183, 183);
    border: none;
    color: white;
    font-weight: bold;
}



/*==============================CONTACT US===============================*/

#contact-us h1{
    padding: 40px 0px;
    text-align: center;
}

#contact-us h3{
    padding: 20px 0px;
}

#full-name, #enter-email{
    padding: 18px 10px;
    margin-bottom: 1.5rem;
}